@charset "UTF-8";
h1 {
  background-color: pink;
  color: white;
  text-align: center;
}

form {
  margin:100; padding:100; text-align:center;
}

#newbtn {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a {
	margin: 5px;
}